body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.welcomepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aquamarine;
}

.loggedin{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightblue;
}

.userform{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: cadetblue;
}

.databaseoutput{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: cornflowerblue;
}

.logout{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: red;
}